@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&family=Montserrat:wght@100;300;400&display=swap");

bg-cont {
  width: 100vw;
}
/* h1 {
  font-family: "Inter Tight", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  padding-top: 20px;
  padding-left: 20px;
} */

p {
  padding-left: 20px;
  color: grey;
  font-size: 14px;
}

.hr-style {
  margin-left: 20px;
  margin-right: 20px;
  color: grey;
}
