.nav-profile {
  height: 50px;
  width: 50px;
}

.nav-styles {
  font-family: "Inter Tight", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-style: normal;
  font-weight: bolder;
  font-size: 0.9rem;
  /* color: red !important; */
  /*line-height: 2.25rem;
  padding-top: 20px; */
}
.li-style {
  margin-right: 20px;
  /* color:red !important; */
}

.li-style-head {
  margin-right: 30px;
  font-size: 1.3rem;
}

/* .dropdown-menu-right {
  right: 0;
  left: auto;
} */

.dropdown-menu-right :hover {
  cursor: pointer;
}
.activeNav {
  /* color: white !important;
  background-color: black; */
  /* background-color: rgba(138, 131, 131, 0.436); */
  padding: 0px 3px;
  border-bottom: 2px solid rgb(58, 56, 56);
  /* border-radius: 20px; */
}

.dropleft {
  position: relative;
}
.dropleft .dropdown-menu {
  left: -110px; /* Adjust as needed */
}

.dropdown-styling{
  
  cursor: pointer;
}
.dropdown-item-styling{
  font-size: 14px;
  font-weight: 600;
}